.menu {
  display: none;

  &__btn {
    background-image: url(../img/menu.svg);
    height: 45px;
    width: 45px;
    z-index: 7;
    display: none;
    @include small-tablet {
      display: block;
    }
  }

  &__btn.burger--active {
    background-image: url(../img/menu-close.svg);

  }

  &__overlay {
    display: none;
    position: absolute;
    z-index: 6;
    top: 0;
    max-width: 834px;
    width: 100%;
    height: 100vh;
    background-color: #101014;

  }

  &__overlay.menu--active {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__login {
    padding-top: 43px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list {
    margin-bottom: 70px;
  }

  &__item {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  &__link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: var(--light-color);

  }
}


