<section class="banks">
  <div class="container">
    <div class="block">
      <p class="block__number">
        03.
      </p>
      <h2 class="block__name">
        Банки
      </h2>
    </div>
    <div class="banks__wrapper">
      <div class="swiper swiper__banks">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="banks__content">
              <img loading="lazy" src="img/banks-1.png" class="image banks__img" width="" height="" alt="">
              <h3 class="banks__subtitle">
                Сбербанк
              </h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="banks__content">
              <img loading="lazy" src="img/banks-2.png" class="image banks__img" width="" height="" alt="">
              <h3 class="banks__subtitle">
                Тинькоф
              </h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="banks__content">
              <img loading="lazy" src="img/banks-3.png" class="image banks__img" width="" height="" alt="">
              <h3 class="banks__subtitle">
                QIWI
              </h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="banks__content">
              <img loading="lazy" src="img/banks-4.png" class="image banks__img" width="" height="" alt="">
              <h3 class="banks__subtitle">
                Райфайзен
              </h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="banks__content">
              <img loading="lazy" src="img/banks-5.png" class="image banks__img" width="" height="" alt="">
              <h3 class="banks__subtitle">
                Альфа
              </h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="banks__content">
              <img loading="lazy" src="img/banks-5.png" class="image banks__img" width="" height="" alt="">
              <h3 class="banks__subtitle">
                Альфа
              </h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="banks__content">
              <img loading="lazy" src="img/banks-5.png" class="image banks__img" width="" height="" alt="">
              <h3 class="banks__subtitle">
                Альфа
              </h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="banks__content">
              <img loading="lazy" src="img/banks-5.png" class="image banks__img" width="" height="" alt="">
              <h3 class="banks__subtitle">
                Альфа
              </h3>
            </div>
          </div>
        </div>


      </div>
      <button class="btn-reset swiper__btn swiper__btn--prev banks__btn"></button>
      <button class="btn-reset swiper__btn swiper__btn--next banks__btn"></button>
    </div>
    <p class="banks__descr">
      более 30 банков
    </p>
  </div>
</section>
