<section class="benefits">
  <div class="container">
    <div class="block">
      <p class="block__number">
        06.
      </p>
      <h2 class="block__name">
        Преимущества
      </h2>
    </div>

    <ul class="list-reset benefits__list">
      <li class="benefits__item">
        <h3 class="benefits__title">
          Скорость
        </h3>
        <p class="benefits__text">
          Ежемоментно сканер обрабатывает множество комбинайций предложений обмена крипто и фаиат-активов на пяти
          площадках для 6
          видов токенов и более чем 30 банков.
        </p>
        <button class="btn-reset benefits__btn"></button>
      </li>
      <li class="benefits__item">
        <h3 class="benefits__title">
          Релевантность
        </h3>
        <p class="benefits__text">
          Тонкие фильтры помогут получать наиболее подходящие предложения обмена - установите список банков, площадок, тип активов
          и критерии качества мерчантов
        </p>
        <button class="btn-reset benefits__btn"></button>
      </li>
      <li class="benefits__item">
        <h3 class="benefits__title">
          уведомления
        </h3>
        <p class="benefits__text">
          Не нужно постоянно мониторить изменения курсов - установите желаемый порог маржинальности и получайте уведомление сразу,
          как будет найдена подходящая связка
        </p>
        <button class="btn-reset benefits__btn"></button>
      </li>
      <li class="benefits__item">
        <h3 class="benefits__title">
          Стоимость
        </h3>
        <p class="benefits__text">
          Базовые вомзожности p2p-сканера доступны бесплатно - достаточно только заргистрироваться. И, если вас устроит
          фунциональность, вы всегда можете попробовать платную подписку или продолжить пользоваться сканеро бсплатно. Функционал
          - вы
        </p>
        <button class="btn-reset benefits__btn"></button>
      </li>
    </ul>
  </div>
</section>
