<section class="developers">
  <div class="container">
    <div class="block">
      <p class="block__number">
        09.
      </p>
      <h2 class="block__name">
        Разработчикам
      </h2>
    </div>

    <p class="developers__text">
      Воспользуйтесь нашим API для поиска лучшего предложения обмена фиат или крипто-активов на разных торговых
      площадках. Или
      настройте уведомления, чтобы не пропустить лучшие условия сделки
    </p>
    <p class="developers__text">
      Описание API и исходные коды доступны в нашем репозитории на <a class="developers__link" href="https://github.com/Xareks">github</a>
    </p>
  </div>
</section>
