<section class="fits">
  <div class="container">
    <div class="block">
      <p class="block__number">
        05.
      </p>
      <h2 class="block__name">
        Кому подойдет
      </h2>
    </div>
    <h3 class="fits__title fits__title--gray">
      Professional
    </h3>
    <div class="fits__box">
      <h3 class="fits__title">
        Профессионалам
      </h3>
      <p class="fits__descr">
        Особые условия тем, кто занимается арбитражом профессионально
      </p>
      <div class="fits__content">
        <div class="fits__text-box">
          <p class="fits__text fits__text--mark">
            Все комбинации стратегий
          </p>
          <p class="fits__text">
            Фильтры для максимально точного определения среднего курса для целевых валютных пар
          </p>
        </div>
        <div class="fits__text-box">
          <p class="fits__text">
            Продвинутая аналитика предложений
          </p>
          <p class="fits__text">
            Уведомления - настройте порог волатильности, начиная от которого вы готовы совершать сделку
          </p>
        </div>
      </div>
      <span class="fits__number">
        1|2
      </span>
    </div>
    <h3 class="fits__title fits__title--gray">
      Enthusiast
    </h3>
    <div class="fits__box">
      <h3 class="fits__title fits__title--enthusiast">
        Энтузиастам
      </h3>
      <p class="fits__descr">
        Простой способ получить лучшее предложение обмена токен или фиат - активов
      </p>
      <div class="fits__content">
        <div class="fits__text-box">
          <p class="fits__text fits__text--mark">
            Лучшее предложене
          </p>
          <p class="fits__text">
            1 USDT => 76 рублей Тиньков на OKX
          </p>
        </div>
        <div class="fits__text-box">
          <p class="fits__text">
            Обновлено 15 секунд назад
          </p>
          <p class="fits__text">
            Задать свои параметры
          </p>
        </div>
      </div>
      <span class="fits__number">
        2|2
      </span>
    </div>
  </div>
</section>
