<footer class="footer">
  <div class="container">
    <div class="logo logo--footer">
      <div class="logo__blur logo__blur--footer"></div>
      <img loading="lazy" src="img/logo.svg" class="image logo__svg" width="" height="" alt="">
    </div>
    <ul class="list-reset footer__list footer__list--top">
      <li class="footer__item">
        <a class="footer__link" href="">
          Преимущества
        </a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="">
          Peer-to-peer сканнер
        </a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="">
          Найти лучший курс обмена
        </a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="">
          Войти / Регистрация
        </a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="">
          Поддержка
        </a>
      </li>
    </ul>
    <ul class="list-reset footer__list footer__list--bottom">
      <li class="footer__item">
        <a class="footer__link" href="">
          Подписка на сервис
        </a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="">
          Отзывы
        </a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="">
          Разработчикам
        </a>
      </li>
    </ul>
  </div>
</footer>
