<section class="hero">
  <div class="container">

    <h1 class="hero__title">
      Поиск прибыльных p2p объявлений <span class="hero__mark">обмена</span>
    </h1>

    <p class="hero__descr">
      Крипто и фиат-активов
    </p>

    <button class="btn-reset btn">Попробовать</button>
    <picture>
      <source srcset="img/hero-content.avif" type="image/avif">
      <source srcset="img/hero-content.webp" type="image/webp">
      <img loading="lazy" src="img/hero-content.png" class="image hero__img" width="" height="" alt="">
    </picture>
  </div>
</section>
