<section class="place">
  <div class="container">
    <div class="block">
      <p class="block__number">
        01.
      </p>
      <h2 class="block__name">
        5 площадок
      </h2>
    </div>
    <ul class="list-reset place__list">
      <li class="place__item">
        <img loading="lazy" src="img/binance.png" class="image place__img" width="" height="" alt="">
        <h3 class="place__subtitle">
          Binance
        </h3>
      </li>
      <li class="place__item">
        <img loading="lazy" src="img/okx.png" class="image place__img" width="" height="" alt="">
        <h3 class="place__subtitle">
          OKX
        </h3>
      </li>
      <li class="place__item">
        <img loading="lazy" src="img/bybit.png" class="image place__img" width="" height="" alt="">
        <h3 class="place__subtitle">
          ByBit
        </h3>
      </li>
      <li class="place__item">
        <img loading="lazy" src="img/huobi.png" class="image place__img" width="" height="" alt="">
        <h3 class="place__subtitle">
          Huobi
        </h3>
      </li>
      <li class="place__item">
        <img loading="lazy" src="img/huobi-2.png" class="image place__img" width="" height="" alt="">
        <h3 class="place__subtitle">
          Huobi
        </h3>
      </li>
    </ul>
  </div>
</section>
