<section class="reviews">
  <div class="container">
    <div class="block">
      <p class="block__number">
        08.
      </p>
      <h2 class="block__name">
        Отзывы
      </h2>
    </div>
    <div class="reviews__wrapper">
      <div class="swiper swiper__reviews">
        <div class="swiper-wrapper">
          <div class="swiper-slide reviews__slide">
            <div class="reviews__content">
              <img loading="lazy" src="img/reviews-1.png" class="image reviews__img" width="" height="" alt="">
              <p class="reviews__name">
                Имя Отчество
              </p>
              <div class="reviews__rating">
                <img loading="lazy" src="img/star-filled.svg" class="image reviews__star" width="" height="" alt="">
                <img loading="lazy" src="img/star-filled.svg" class="image reviews__star" width="" height="" alt="">
                <img loading="lazy" src="img/star-filled.svg" class="image reviews__star" width="" height="" alt="">
                <img loading="lazy" src="img/star-filled.svg" class="image reviews__star" width="" height="" alt="">
                <img loading="lazy" src="img/star.svg" class="image reviews__star" width="" height="" alt="">
              </div>
              <svg class="reviews__marck">
                <use xlink:href="img/sprite.svg#marck"></use>
              </svg>
              <p class="reviews__text">
                Ставлю 4 из 5, просто потому, что я гнилой человек. Но очень круто, спасибо
              </p>
            </div>
          </div>
          <div class="swiper-slide reviews__slide">
            <div class="reviews__content">
              <img loading="lazy" src="img/reviews-2.png" class="image reviews__img" width="" height="" alt="">
              <p class="reviews__name">
                Имя Отчество
              </p>
              <div class="reviews__rating">
                <img loading="lazy" src="img/star-filled.svg" class="image reviews__star" width="" height="" alt="">
                <img loading="lazy" src="img/star-filled.svg" class="image reviews__star" width="" height="" alt="">
                <img loading="lazy" src="img/star-filled.svg" class="image reviews__star" width="" height="" alt="">
                <img loading="lazy" src="img/star-filled.svg" class="image reviews__star" width="" height="" alt="">
                <img loading="lazy" src="img/star.svg" class="image reviews__star" width="" height="" alt="">
              </div>
              <svg class="reviews__marck">
                <use xlink:href="img/sprite.svg#marck"></use>
              </svg>
              <p class="reviews__text">
                Ставлю 4 из 5, просто потому, что я гнилой человек. Но очень круто, спасибо
              </p>
            </div>
          </div>
          <div class="swiper-slide reviews__slide">
            <div class="reviews__content">
              <img loading="lazy" src="img/reviews-3.png" class="image reviews__img" width="" height="" alt="">
              <p class="reviews__name">
                Имя Отчество
              </p>
              <div class="reviews__rating">
                <img loading="lazy" src="img/star-filled.svg" class="image reviews__star" width="" height="" alt="">
                <img loading="lazy" src="img/star-filled.svg" class="image reviews__star" width="" height="" alt="">
                <img loading="lazy" src="img/star-filled.svg" class="image reviews__star" width="" height="" alt="">
                <img loading="lazy" src="img/star-filled.svg" class="image reviews__star" width="" height="" alt="">
                <img loading="lazy" src="img/star.svg" class="image reviews__star" width="" height="" alt="">
              </div>
              <svg class="reviews__marck">
                <use xlink:href="img/sprite.svg#marck"></use>
              </svg>
              <p class="reviews__text">
                Ставлю 4 из 5, просто потому, что я гнилой человек. Но очень круто, спасибо
              </p>
            </div>
          </div>
          <div class="swiper-slide reviews__slide">
            <div class="reviews__content">
              <img loading="lazy" src="img/reviews-1.png" class="image reviews__img" width="" height="" alt="">
              <p class="reviews__name">
                Имя Отчество
              </p>
              <div class="reviews__rating">
                <img loading="lazy" src="img/star-filled.svg" class="image reviews__star" width="" height="" alt="">
                <img loading="lazy" src="img/star-filled.svg" class="image reviews__star" width="" height="" alt="">
                <img loading="lazy" src="img/star-filled.svg" class="image reviews__star" width="" height="" alt="">
                <img loading="lazy" src="img/star-filled.svg" class="image reviews__star" width="" height="" alt="">
                <img loading="lazy" src="img/star.svg" class="image reviews__star" width="" height="" alt="">
              </div>
              <svg class="reviews__marck">
                <use xlink:href="img/sprite.svg#marck"></use>
              </svg>
              <p class="reviews__text">
                Ставлю 4 из 5, просто потому, что я гнилой человек. Но очень круто, спасибо
              </p>
            </div>
          </div>
          <div class="swiper-slide reviews__slide">
            <div class="reviews__content">
              <img loading="lazy" src="img/reviews-2.png" class="image reviews__img" width="" height="" alt="">
              <p class="reviews__name">
                Имя Отчество
              </p>
              <div class="reviews__rating">
                <img loading="lazy" src="img/star-filled.svg" class="image reviews__star" width="" height="" alt="">
                <img loading="lazy" src="img/star-filled.svg" class="image reviews__star" width="" height="" alt="">
                <img loading="lazy" src="img/star-filled.svg" class="image reviews__star" width="" height="" alt="">
                <img loading="lazy" src="img/star-filled.svg" class="image reviews__star" width="" height="" alt="">
                <img loading="lazy" src="img/star.svg" class="image reviews__star" width="" height="" alt="">
              </div>
              <svg class="reviews__marck">
                <use xlink:href="img/sprite.svg#marck"></use>
              </svg>
              <p class="reviews__text">
                Ставлю 4 из 5, просто потому, что я гнилой человек. Но очень круто, спасибо
              </p>
            </div>
          </div>
          <div class="swiper-slide reviews__slide">
            <div class="reviews__content">
              <img loading="lazy" src="img/reviews-3.png" class="image reviews__img" width="" height="" alt="">
              <p class="reviews__name">
                Имя Отчество
              </p>
              <div class="reviews__rating">
                <img loading="lazy" src="img/star-filled.svg" class="image reviews__star" width="" height="" alt="">
                <img loading="lazy" src="img/star-filled.svg" class="image reviews__star" width="" height="" alt="">
                <img loading="lazy" src="img/star-filled.svg" class="image reviews__star" width="" height="" alt="">
                <img loading="lazy" src="img/star-filled.svg" class="image reviews__star" width="" height="" alt="">
                <img loading="lazy" src="img/star.svg" class="image reviews__star" width="" height="" alt="">
              </div>
              <svg class="reviews__marck">
                <use xlink:href="img/sprite.svg#marck"></use>
              </svg>
              <p class="reviews__text">
                Ставлю 4 из 5, просто потому, что я гнилой человек. Но очень круто, спасибо
              </p>
            </div>
          </div>
        </div>
      </div>
      <button class="btn-reset reviews__btn swiper__btn swiper__btn--prev"></button>
      <button class="btn-reset reviews__btn swiper__btn swiper__btn--next"></button>
    </div>

  </div>
</section>
