<section class="subscribe">
  <div class="container">

    <div class="block">
      <p class="block__number">
        07.
      </p>
      <h2 class="block__name">
        Подписка
      </h2>
    </div>
    <div class="subscribe__content">
      <div class="subscribe__item">
        <div class="subscribe__inner">
          <h3 class="subscribe__title">
            Базовая подписка
          </h3>
          <p class="subscribe__price">
            $0
          </p>
          <p class="subscribe__time">
            навсегда
          </p>
          <p class="subscribe__text">
            Бесплатный доступ к p2p сканеру с ограничеями в частоте обновления и без уведомлений
          </p>

          <button class="btn-reset btn btn--light subscribe__btn subscribe__btn--first">Начать работу</button>
        </div>
        <div class="subscribe__descr">
          Подойдет для тех, кто хочет познакомится с фунцкионалом сканера
        </div>
      </div>
      <div class="subscribe__item">
        <div class="subscribe__inner">
          <h3 class="subscribe__title">
            1BIT
          </h3>
          <p class="subscribe__price">
            $50
          </p>
          <p class="subscribe__time">
            на месяц
          </p>
          <p class="subscribe__text">
            Полный доступ к p2p-сканеру <span class="sibscribe__marck">без ограничений</span>
          </p>

          <button class="btn-reset btn btn--light subscribe__btn">Заказать</button>
        </div>
        <div class="subscribe__descr">
          Основной тариф для профессиональных p2p-трейдеров
        </div>
      </div>
      <div class="subscribe__item">
        <div class="subscribe__inner">
          <h3 class="subscribe__title">
            4BIT
          </h3>
          <p class="subscribe__price--discount">
            $<span id="discount" class="subscribe__price--discount"></span>
          </p>
          <p class="subscribe__price">
            $<span id="price" class="subscribe__price">170</span>
          </p>
          <p class="subscribe__time">
            на четыре месяца
          </p>
          <p class="subscribe__text">
            Полный доступ к p2p-сканеру без ограничений и на <span class="subscribe__marck">Скидка 15%</span>
          </p>

          <button class="btn-reset btn btn--light subscribe__btn">Заказать</button>
        </div>
        <div class="subscribe__descr">
          Основной тариф для профессиональных p2p-трейдеров с 15% скидкой
        </div>
      </div>
      <div class="subscribe__item">
        <div class="subscribe__inner">
          <h3 class="subscribe__title">
            8BIT
          </h3>
          <p class="subscribe__price--discount">
            $<span id="discountTwo" class="subscribe__price--discount"></span>
          </p>
          <p class="subscribe__price ">
            $<span id="priceTwo" class="subscribe__price">300</span>
          </p>
          <p class="subscribe__time">
            на восемь месяцев
          </p>
          <p class="subscribe__text">
            Полный доступ к p2p-сканеру без ограничений <span class="subscribe__marck">со скидкой 25%</span>
          </p>

          <button class="btn-reset btn btn--light subscribe__btn">Заказать</button>
        </div>
        <div class="subscribe__descr">
          Самый выгодный тариф для профессиональных p2p-трейдеров с 25% скидкой
        </div>
      </div>
    </div>
  </div>
</section>
