<section class="work">
  <div class="container">
    <div class="block">
      <p class="block__number">
        04.
      </p>
      <h2 class="block__name">
        Работа
      </h2>
    </div>
    <p class="work__text">
      Высокая скорость работы
      и <span class="work__mark">настраиваемые уведомления</span>
    </p>
    <p class="work__text">
      Быстрая реакция = <br>
      Высокая доходность торговли
    </p>
    <button class="btn-reset btn btn--light">Попробовать</button>
  </div>
</section>
